.personal-details-section {
    padding: 75px 0 0 0;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .personal-details-header {
        margin: 0;
        padding: 0;
        margin-left: 20px;
        margin-bottom: 10px;
        font-size: 2.5rem;
    }
}

.details-paragraph {
    padding: 20px 45px 45px 45px;
    width: 70vw;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: start;
    font-family: 'Lato', sans-serif;
    color: #888888;
    margin-left: 20px;
    border-left: 4px solid #06283D;
}
