.skill-base {
    padding: 4px;
    width: 200px;
    height: 20px;
    background-color: #47B5FF; 
    border-radius: 8px;

    .skill-lvl {
        background: linear-gradient(90deg, rgba(6,40,61,1) 0%, rgba(37,109,133,1) 100%);
        height: 100%;
        border-radius: 5px;
    }
}
