.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-between;
    background-color: #06283D;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: white;

    .socials {
        padding: 20px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .social-icon {
            padding: 0;
            margin-left: 20px;
            color: white;
        }
    }
}

@keyframes logo-spin {
    100% {
        rotate: 360deg;
    }
}