.footer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: #06283D;
    margin: 0;

    .about-page {
        width: 50%;
        padding: 10px;
        display: flex;
        flex-direction: column;

        .about-this-website-par {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #888888
        }

        .formatting-pain {
            color: #888888;
            text-align: left;
            .footer-link {
                text-decoration: none;
                font-weight: 800;
                color: #888888
            }
        }

        .about-this-website-par-bottom {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #888888           
        }

        .react-logo {
            height: 40px;
            width: 40px;
            margin-left: 20px;
            animation: logo-spin 3s infinite;
        }
    }

    .socials {
        display: flex;
        width: 50%;
        padding: 30px;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        .social-icon {
            color: #DFF6FF;
            font-size: 50px;
            margin-left: 15px;
        }
    }
}

.h3-footer {
    color: #DFF6FF;
    margin-right: 10px;
    padding: 0;
}

@keyframes logo-spin {
    100% {
        rotate: 360deg;
    }
}