.portfolio-main {
    width: 100vw;

    .portfolio-header {
        padding: 75px 15px 0 15px;
        margin-left: 20px;
        font-family: 'Oswald', sans-serif;
        font-size: 3rem;
        text-align: center;
    }
}
