.portfolio-main {
    width: 100vw;

    .portfolio-header {
        padding: 75px 15px 0 15px;
        margin-left: 20px;
        margin-bottom: 10px;
        font-family: 'Tangerine', cursive;
        font-size: 6rem;
        text-align: center;
    }
}
